build/
builds/
bin/
SVC.xcodeproj/
DerivedData/
*EasyRSA*/

*.pbxproj

*.pbxproj


SVC.xcodeproj/project.pbxproj

SVC.xcodeproj/project.xcworkspace/xcuserdata/ludovic.xcuserdatad/UserInterfaceState.xcuserstate

SVC.xcodeproj/xcuserdata/ludovic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

SVC.xcodeproj/xcuserdata/ludovic.xcuserdatad/xcschemes/Server.xcscheme

SVC.xcodeproj/xcuserdata/ludovic.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcscheme

